.col-12{
    background-color: #0088c3 !important;
    height: 120px;
}
.a{
    display:inline-block;
    margin-top: -40px;
    width: 350px;
    height: 220px;
}
form{
    border-top:30px ;
}
h6{
    color: #0088c3;
}
span.b{

    color:red;
}
.input{
    margin-top: 30px;
}
.btn1{
    background-color:black;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 200px;
}
}
